<div class="container pb-5 mb-5" style="background-color: rgb(245, 245, 245);">
  <br>
  <h3 style="text-align: center;"><i class="fas fa-users p-1"></i>Clientes</h3>
  <hr>
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <button class="btn btn-outline-secondary" type="button" id="button-addon1"><i class="fas fa-search"></i></button>
    </div>
    <input type="text" class="form-control" [ngModel]="search" (ngModelChange)="load($event)"  aria-label="Example text with button addon" aria-describedby="button-addon1">
  </div>

  <div *ngFor="let data of items" class="container shadow p-2 mb-2 list-color rounded" style="background: white;">

    <div class="row align-items-center">
      <div class="col-10" (click)="OpenModal(data)">
        <div class="truncate pl-2">
          <p><i class="fas text-muted fa-user mr-2"></i>{{data?.name}}</p>
          <p class="text-1"><i class="fas text-muted fa-file mr-2"></i>{{data?.ci}}</p>
        </div>
      </div>
      <div *ngIf="(user?.role === 'admin')"  class="col-2" (click)="delete(data?._id)">
        <i class="fas color-red fa-trash"></i>
      </div>
    </div>

  </div>
  
  
</div>
<app-navbar></app-navbar>
