<div class="container" style="background-color: rgb(245, 245, 245); height: 100vh;">
    <br>
    <h3 style="text-align: center;"><i class="fas fa-users p-1"></i>Clientes</h3>
    <hr>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <button class="btn btn-outline-secondary" type="button" id="button-addon1">Buscar</button>
      </div>
      <input type="text" class="form-control" placeholder="" aria-label="Example text with button addon" aria-describedby="button-addon1">
    </div>
  
    <div *ngFor="let data of items" class="container shadow p-2 mb-2 list-color rounded" style="background: white;" (click)="OpenModal(data)">
      <div class="row">
  
        <div class="col-3 truncate ">
          <h5 class="mt-4"><i class="fas text-muted fa-hashtag mr-2"></i>{{data?.ID}}</h5>
        </div>
        <div class="col-8 truncate " style="border-left:solid 1px; border-color: steelblue;">
          <p><i class="fas text-muted fa-user mr-2"></i>{{data?.nombre}}</p>
          <p class=" mb-1"><i class="fas text-muted fa-at mr-2"></i>{{data?.correo}}</p>
        </div>
      </div>
  
    </div>
  
  
  </div>
<app-navbar></app-navbar>
