<div class="container" style="background-color: rgb(245, 245, 245); height: 100vh;">
  <br>
  <h3 style="text-align: center;"><i class="fas fa-user-cog"></i>Usuarios</h3>
  <hr>
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <button class="btn btn-outline-secondary" type="button" id="button-addon1">Buscar</button>
    </div>
    <input type="text" class="form-control" placeholder="" aria-label="Example text with button addon" aria-describedby="button-addon1">
  </div>

  <div *ngFor="let data of items" class="container shadow p-2 mb-2 list-color rounded" style="background: white;" (click)="openModal(data)">
    <div class="row">

      <div class="col-4 truncate ">
        <p><i class="fas text-muted fa-hashtag mr-2"></i>{{data?.ID}}</p>
        <p class=" mb-1"><i class="fas text-muted fa-toolbox mr-2"></i>{{data?.nivel}}</p>
      </div>
      <div class="col-6 truncate " style="border-left:solid 1px; border-color: steelblue;">
        <p><i class="fas text-muted fa-user mr-2"></i>{{data?.nombre}}</p>
        <p class=" mb-1"><i class="fas text-muted fa-at mr-2"></i>{{data?.correo}}</p>
      </div>
    </div>

  </div>


</div>
<app-navbar></app-navbar>