
	<div id="f">
    <h3 class="m-2 p-2">Datos personales</h3>
    </div>

<div class="col-md-8" >
	<p class="text-danger">Los campos marcados con (*) son obligatorios</p>
		<label > Cedula/RIF </label>

      	<div class="row" >
      		<div class="col-md-auto">
      		<select class="form-control"  id="tipo_ced" name="tipo_ced" style="width: 90px;">
	          <option value="V">V</option>
	          <option value="E">E</option>
	          <option value="J">J</option>
	          <option value="R">R</option>
	        </select>
      		</div>
	       	<div class="col">
	       		<input type="text" class="form-control" id="cedula" name="cedula"  placeholder="Ingrese cedula/RIF (*)" >
	       	</div>
	     	 
   		</div>

		<label > Nombre y Apellido </label>
		 <div class="row">
		    <div class="col">
		      <input type="text" class="form-control" id="nombre" name="nombre" placeholder="Nombre (*)" onKeyPress="return soloLetras(event)">
		    </div>
		    <div class="col">
		      <input type="text" class="form-control" id="apellido" name="apellido" placeholder="Apellido (*)" onKeyPress="return soloLetras(event)">
		    </div>
		 </div>

		 <br>
		<label > Numeros telefonicos</label>

		<div class="input-group mb-3">
			  <div class="input-group-prepend">
			    <select class="form-control"  id="tipo_tel1" name="tipo_tel1" style="width: 90px;">
			      <option value="0416">0416</option>
			      <option value="0426">0426</option>
			      <option value="0414">0414</option>
			      <option value="0424">0424</option>
			      <option value="0412">0412</option>
			      <option value="0276">0276</option>
			      
			    </select>
			  </div>
 			<input type="text" class="form-control" id="numero1" name="numero1" onkeypress="return SoloNumeros(event)" placeholder="Numero Telefonico (*)">
		</div>
		<div class="input-group mb-3">
			  <div class="input-group-prepend">
			    <select class="form-control"  id="tipo_tel2" name="tipo_tel2" style="width: 90px;">
			      <option value="0416">0416</option>
			      <option value="0426">0426</option>
			      <option value="0414">0414</option>
			      <option value="0424">0424</option>
			      <option value="0412">0412</option>
			      <option value="0276">0276</option>
			      
			    </select>
			  </div>
			  <input type="text" class="form-control" id="numero2" name="numero2" onkeypress="return SoloNumeros(event)" placeholder="Numero Secundario">
		</div>

	<div class="form-group">
	    <label >Direccion </label>
	    <textarea class="form-control" id="direccion" name="direccion" rows="3" placeholder="Ingrese su direccion (*)"></textarea>
	</div>

	<hr>  
</div>
<div id="f">
    
	<h3 style="padding-left: 15px;">Datos para ingresar al sistema</h3>
</div>
<div class="col-md-8 pb-5 mb-5" >
	<div class="form-group">
		    <label >Email (Usuario para ingresar al sistema) </label>
		    <input type="email" class="form-control" id="email" name="email" placeholder="Correo Electronico (*)">
	</div>

	<div class="form-group">
		    <label > Contraseña (entre 8 y 14 caracteres) </label>
		    <input type="text" class="form-control" id="pass" name="pass" placeholder="Contraseña (*)">
	</div>

	<label >Nivel de acceso </label>
	<div class="input-group-prepend">
			    <select class="form-control"  id="nivel" name="nivel" style="width: 300px;">
				   <option value="1">1 - Oficinista</option>
				   <option value="2">2 - Tecnico</option>
			    </select>
	</div>
	<br>

	<button type="button" class="btn btn-dark" data-toggle="modal" data-target="#verifGuardar">
	  Guardar
    </button>
    



    
  	
  	<div class="modal fade" id="verifGuardar" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
	  <div class="modal-dialog modal-dialog-centered" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h5 class="modal-title" >¿Desea guardar los cambios?</h5>
	      </div>
	      
	      <div class="modal-footer">
	        <button type="button" class="btn btn-dark" data-dismiss="modal">Cancelar</button>
	        <button type="submit" id="btnguardar" class="btn btn-success">Guardar</button>
	      </div>
	    </div>
	  </div>
	</div>

</div>


<app-navbar></app-navbar>