
    <div class="navbar bg-dark">
        <ul class= "item-center" >
            <li class="nav-item" >
                 <a class="nav-item nav-link text-1" [routerLink]="['/home']"> <i  class="fas fa-home" ></i> <br> Home</a>
                </li>
            <li class="nav-item" > 
                <a class="nav-item nav-link text-1" [routerLink]="['/service']"> <i class="fas fa-lg fa-bars" ></i><br> Service</a>
            </li>
            <li class="nav-item" >
                 <a class="nav-item nav-link text-1" [routerLink]="['/perfil']"> <i class="fas fa-user" ></i> <br>Perfil</a>
            </li>
        </ul>
    </div>







