
<body class="back">
<div class="contenedor">
    <img class="skere" src="../../../assets/imagenes/imagen.jpg" alt="logo fanart"> 
    <h1 class="h1">ClickStar</h1>
    <form>
        <label >Usuario</label>
        <input class="input" id="user"type="text">

        <label >Contraseña</label>
        <input class="input" id="password" type="password">

        <button type="button" class="btn btn-secondary" style="width: 60%;
        margin-left: 20%; " [routerLink]="['/home']">Iniciar Sesión</button>
    </form>

</div>
</body>