<body style="background-color: rgb(245, 245, 245);">
  
<div class="container">
    <br>
    <h3 style="text-align: center;"><i class="fas fa-tv p-1"></i>Equipos</h3>
    <hr>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <button class="btn btn-outline-secondary" type="button" id="button-addon1">Buscar</button>
      </div>
      <input type="text" class="form-control" placeholder="" aria-label="Example text with button addon" aria-describedby="button-addon1">
    </div>
  <div class="container">
    <ul class="list-group list-group-horizontal">
        <li class="list-group text-1 " style="color: cadetblue;">CPU </li>
        <li class="list-group ml-2 mb-2 text-1 " style="color: cadetblue;">Laptop </li>
        <li class="list-group ml-2 mb-2 text-1" style="color: cadetblue;">Monitor </li>
        <li class="list-group ml-2 mb-2 text-1" style="color: cadetblue;">Impresora </li>
        <li class="list-group ml-2 mb-2 text-1"style="color: cadetblue;">Router </li>
        <li class="list-group ml-2 mb-2 text-1" style="color: cadetblue;">Otros </li>
    </ul>
   
  </div>
    <div  class="container shadow p-2 mb-2 list-color rounded" style="background: white;">
      <div class="row">
  
        <div class="col-8 truncate " style="border-left:solid 1px; border-color: steelblue;">
          <p><i class="fas text-muted fa-laptop mr-2"></i>Samsung | P30-505020 </p>
          <p class=" mb-1"><i class="fas text-muted fa-file mr-2"></i>hali1bndñañojc</p>
        </div>
        <div class="col-3">
            <p class="mt-4">16/10/2020</p>
        </div>
      </div>
  
 
    </div>
 </div> 
  

</body>
<app-navbar></app-navbar>