<div  class="col-md-8">
	<div class="form-group">
  <br>
  <h3>IMPRESORA</h3>

  <form  [formGroup]="form" (submit)="submit()">
<div class="form-group">
    <label>Marca</label>
    <input type='text' class='form-control' formControlName="make" placeholder='Marca (*)'>
</div>

<div class="form-group">
    <label>Modelo</label>
    <input type='text' class='form-control' maxlength="30" id='imp_modelo' formControlName="model" placeholder='Modelo (*)' name='imp_modelo'>
</div>

<div class="form-group">
    <label>Serial</label>
    <input type='text' class='form-control' maxlength="30" id='imp_serial' formControlName="serial" placeholder='Serial (*)' name='imp_serial'>
</div>

<div class="form-group">
    <label>Cabezal:</label>
    <input type='text' class='form-control' maxlength="30" id='' formControlName="cabezal" placeholder='Serial (*)' name='imp_serial'>
</div>

<label>Tintas:</label>
<tag-input formControlName="tinta" [disable]="(initData)" secondaryPlaceholder="Añade las tintas" placeholder="Añade las tintas"></tag-input>

<div class='form-group'>
    <label>Observacion:</label>
    <textarea class='form-control' formControlName="description"></textarea>
</div>
<div class="d-flex justify-content-between mt-3 pb-3">
  <button type="button" class="btn btn-secondary" (click)="close()">Close</button>
  <button type="submit" class="btn btn-primary" *ngIf="!initData" [disabled]="form.invalid" >Save changes</button>
</div>
</form>
</div>

	</div>
