<body class="container mb-5 pb-5" style="background-color: rgb(245, 245, 245)">   <br>
    <div [ngClass]="{'d-flex justify-content-between align-items-center': user?.role === 'admin'}">
      <h2 [ngClass]="{'text-center': user?.role !== 'admin'}">Services</h2>
      <div *ngIf="user?.role === 'admin'" (click)="isDeleted = !isDeleted;deletedLoad();">
        <i *ngIf="!isDeleted" class="fas color-red fa-trash"></i>
        <i *ngIf="isDeleted" class="fas text-primary fa-redo-alt"></i>
      </div>
    </div>
    <hr>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <button class="btn btn-outline-secondary" type="button" id="button-addon1">Buscar</button>
      </div>
      <input type="text" class="form-control" [ngModel]="search" (ngModelChange)="load($event)"  placeholder="" aria-label="Example text with button addon" aria-describedby="button-addon1">
    </div>
     <div class="row" style="color: rgb(33, 165, 165); text-align: center;">
         <div class="col-5">
             <p >Servicios</p>
         </div>
         <div class="col-4">
             <p>Equipo</p>
         </div>
         <div class="col-3">
             <p>Precio</p>
         </div>
     </div>
  <div *ngFor="let data of items" class="container shadow p-2 mb-2 list-color rounded" style="background: white;">
    <div class="row" (click)="openModalData(template,data)">
        <div class="col-5">
            <p class="text-1 truncate">{{data?.name}}</p>
        </div>
        <div class="col-4   text-1" style="text-align: center;"> <p >{{data?.type}}</p></div>
        <div class="col-3">
            <p class="text-1" style=" text-align: center; color: rgb(67, 146, 96);">{{data?.price}} Cop</p>
        </div>
    </div>
  </div>

  <!-- Modal Registro de Servicios -->
<ng-template #template>
  <div class="modal-content">
                <form  [formGroup]="form" (submit)="submit()">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">{{(id) ? '' : 'Registro'}} Servicio</h5>
          <button *ngIf="id && (user?.role === 'admin') && !isDeleted"
                  (click)="delete()"  type="button"
                  class="close" data-dismiss="modal"
                  aria-label="Close">
            <i class="fas color-red fa-trash"></i>
          </button>
          <button *ngIf="id && (user?.role === 'admin') && isDeleted"
                  (click)="restored()"  type="button"
                  class="close" data-dismiss="modal"
                  aria-label="Close">
            <i class="fas fa-redo-alt"></i>
          </button>
        </div>
        <div class="modal-body">

            <div class="Container">
                <div class="from-group">
                    <label> Servicio</label>
                  <input type="text" class="form-control border-muted"  formControlName="name" style="width: 100%; height: 40px;" value="" placeholder="Mantenimiento Correctivo Software" > <br>
                  <label>Tipo</label>
                  <ng-select [items]="typeDevices"
                             bindLabel="name"
                             bindValue="value"
                             placeholder="Selecciona un equipo"
                             formControlName="type"
                             >
                  </ng-select>
                <label class="mt-4">Precio Servicio</label>
                  <input type="" class="form-control" formControlName="price" style="width: 100%; height: 40px;"  value="" placeholder="20.000" >
                  <label class="mt-4">Observacion:</label>
                  <textarea class='form-control' formControlName="description"></textarea>
                </div>
              </div>

        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" (click)="modalRef.hide()">Cerrar</button>
            <button type="submit" class="btn btn-primary" *ngIf="disableButton && !isDeleted" [disabled]="form.invalid">Guardar</button>
        </div>
      </div>
                </form>
    </div>
</ng-template>
<button *ngIf="user?.role === 'admin' && !isDeleted" type="button" class="btn btn-dark btn-1" (click)="openModal(template)" id="exampleModal"><i class="fas fa-plus"></i></button>

</body>

<app-navbar></app-navbar>
