
<body class="back">
<div class="contenedor">
    <img class="skere" src="../../../assets/imagenes/logo.png" alt="logo fanart"> 
    <form [formGroup]="form" (submit)="login()">
        <label >Usuario</label>
        <input class="input" id="user" formControlName="email" type="text">

        <label >Contraseña</label>
        <input class="input" id="password" formControlName="password" type="password">

        <button ngxLoading [disabled]="form.invalid"
        [textInitial]="'Iniciar Sesión'"
        [textLoading]="'Cargando'"
        [loadingFlag]="loading"
        type="submit" class="btn btn-secondary" style="width: 60%;
        margin-left: 20%; " ></button>
    </form>

</div>
</body>