.h1{
    padding: 5px 60px;
    top: 40px;
}

.contenedor{
    position: absolute;
    width: 320px;
    height:420px ;
    border-radius: 15px;
    background: rgba(0, 0, 0, 0.726);
    top: 50%;
    left: 50%;
    transform: translate( -50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
    color: rgb(161, 160, 160);
}
.contenedor label {
    display: block;
    margin: 0%;

}
.input{
    width: 100%;
    margin-top: 15px;
    margin-bottom: 20px;
    height: 30px;
    color: white;
    border-radius: 5px;
    background-color: rgba(131, 131, 131, 0.124);

}
.botton{
    border: none;
    outline: none;
    height: 0px;
    background: rgb(161, 160, 160);
    width: 60%;
    margin-left: 20%;
}
.back{
    background-image: url("../../assets/imagenes/5.jpg");
    background-size:cover;
    background-position: absolute;
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    margin: 0px;
    padding: 0px;
}

.skere
{
	width: 190px;
	height: 130px;

	align-items: center;
	position: absolute;
	top: -65px;
	left: calc(40% - 54px);

}
