
  <nav id="sidebar">
    <div class="sidebar">
        <img class="skere" src="../../../assets/imagenes/imagen.jpg" alt="logo fanart">
      <h3>Administrador</h3>
      <h5 class="p-0"><i class="fas fa-user p-1" id="status"></i>Conectado</h5>
    </div>
    <div class="list">
    <ul class="list-unstyled components">
      <li>
        <a [routerLink]="['/registro-o']"><i class="fas fa-id-badge p-4"></i>Registrar Orden</a>
      </li>
      <li>
        <a [routerLink]="['/lista-o']"><i class="fas fa-clipboard p-4"></i>Lista de Ordenes</a>
      </li>
      <li>
        <a [routerLink]="['/lista-c']"><i class="fas fa-users p-4"></i>Lista de Clientes</a>
      </li>
      <li>
        <a [routerLink]="['/registrar-u']" ><i class="fas fa-user-plus p-4"></i>Registrar Usuario</a>
      </li>
      <li>
        <a [routerLink]="['/modificar-u']"><i class="fas fa-user-cog p-4"></i>Modificar Usuario</a>
      </li>
      <li>
        <a href=""><i class="fas fa-luggage-cart p-4"></i>Inventario</a>
      </li>
      <li>
        <a [routerLink]="['/login']" ><i class="fas fa-sign-out-alt p-4"></i>Salir</a>
      </li>
    </ul>
</div>
  </nav>
  <app-navbar></app-navbar>