<div class="container">
<div clas class="col-md-8">
        <div class="form-group">
      <br>
      <h3>IMPRESORA</h3>
    
    
    <div class="form-group">
        <label>Marca</label>
        <input type='text' class='form-control' maxlength="30" id='imp_marca' placeholder='Marca (*)' name='imp_marca'>
    </div>
    
    <div class="form-group">
        <label>Modelo</label>
        <input type='text' class='form-control' maxlength="30" id='imp_modelo' placeholder='Modelo (*)' name='imp_modelo'>
    </div>  
    
    <div class="form-group">
        <label>Serial</label>
        <input type='text' class='form-control' maxlength="30" id='imp_serial' placeholder='Serial (*)' name='imp_serial'>
    </div> 
    
    <div class="form-group">
        <label>Cabezal:</label>
        <div class="row">
          <div class="col-4">
              <select class='form-control' id="imp_cabezal_tipo" name='imp_cabezal_tipo'>
                <option value='termico'>Termico</option>
                <option value='piezoelectrico'>Piezoelectrico</option>
              </select>
          </div>
          <div class="col-8">
            <input type='text' class='form-control' id='imp_cabezal_serial' maxlength="30" name='imp_cabezal_serial' placeholder='Serial (*)'>
          </div>
        </div>
    </div>
    
    
    <div class='form-group'>
        <div class="row">
          <div class="col">
            <label for='imp_tinta_negra'>Color Negro :</label>
          </div>   
        </div>
        <div class="row">
          <div class="col">
            <input type='range' class='custom-range' min='1' max='3' step='2' id='imp_tinta_negro'name='imp_tinta_negro'>
          </div> 
        </div>
        <div class="row">
          <div class="col">
            <p class="text-secondary">Bajo</p>
          </div>
          <div class="col" style="text-align: center;">
            <p class="text-secondary">Medio</p>
          </div>
          <div class="col" style="text-align: right;">
            <p class="text-secondary">Alto</p>
          </div>
        </div>    
    </div>
    
    <div class='form-group'>
        <div class="row">
          <div class="col">
            <label for='imp_tinta_negra'>Color Azul :</label>
          </div>   
        </div>
        <div class="row">
          <div class="col">
            <input type='range' class='custom-range' min='1' max='3' step='2' id='imp_tinta_azul'name='imp_tinta_azul'>
          </div> 
        </div>
        <div class="row">
          <div class="col">
            <p class="text-secondary">Bajo</p>
          </div>
          <div class="col" style="text-align: center;">
            <p class="text-secondary">Medio</p>
          </div>
          <div class="col" style="text-align: right;">
            <p class="text-secondary">Alto</p>
          </div>
        </div>    
    </div>
    
    <div class='form-group'>
        <div class="row">
          <div class="col">
            <label for='imp_tinta_negra'>Color Amarillo :</label>
          </div>   
        </div>
        <div class="row">
          <div class="col">
            <input type='range' class='custom-range' min='1' max='3' step='2' id='imp_tinta_amarillo'name='imp_tinta_amarillo'>
          </div> 
        </div>
        <div class="row">
          <div class="col">
            <p class="text-secondary">Bajo</p>
          </div>
          <div class="col" style="text-align: center;">
            <p class="text-secondary">Medio</p>
          </div>
          <div class="col" style="text-align: right;">
            <p class="text-secondary">Alto</p>
          </div>
        </div>    
    </div>
    
    <div class='form-group'>
        <div class="row">
          <div class="col">
            <label for='imp_tinta_negra'>Color Rojo :</label>
          </div>   
        </div>
        <div class="row">
        <div class="col">
            <input type='range' class='custom-range' min='1' max='3' step='2' id='imp_tinta_rojo'name='imp_tinta_rojo'>
          </div> 
        </div>
        <div class="row">
          <div class="col">
            <p class="text-secondary">Bajo</p>
          </div>
          <div class="col" style="text-align: center;">
            <p class="text-secondary">Medio</p>
          </div>
          <div class="col" style="text-align: right;">
            <p class="text-secondary">Alto</p>
          </div>
        </div>    
    </div>
    
    
    <div class='form-group'>
        <label>Observacion:</label>
        <textarea class='form-control' id='imp_observacion' maxlength="100" rows='3'name='imp_observacion' placeholder="Observaciones realizadas"></textarea>
    </div>
    </div>
    </div>

    <button class="btn btn-dark mb-5">Actualizar</button>

    <br>
    <br>
    <h3 class="text-center mb-4">Historial</h3>

    <div  class="container shadow p-2  mb-2 list-color rounded" style="background-color: rgb(214, 218, 218);" (click)="openModal()">
        <div class="row">
        <div class="col-8">
            <p class="mb-0" > <i class="fas text-muted fa-hashtag"></i> &nbsp; 12345
            </p>
            <p class="mb-0 mt-1 truncate text-1">
            <i class="fas text-muted fa-laptop"></i> &nbsp; Samsung | Tp-1234jpu </p>
        </div>
        <div class="col-4 text-right">
           
            <span class="text-muted text-date">12/12/12</span>
        </div>
        </div>
    </div>
    <br>
    <br>

</div>


<app-navbar></app-navbar>
