<body class="container" style="background-color: rgb(245, 245, 245); height: 100vh;">   <br>
    <h2 style="text-align: center;">Services</h2>
    <hr>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <button class="btn btn-outline-secondary" type="button" id="button-addon1">Buscar</button>
      </div>
      <input type="text" class="form-control" placeholder="" aria-label="Example text with button addon" aria-describedby="button-addon1">
    </div>
     <div class="row" style="color: rgb(33, 165, 165); text-align: center;">
         <div class="col-6">
             <p >Servicios</p>
         </div>
         <div class="col-3">
             <p>Equipo</p>
         </div>
         <div class="col-3">
             <p>Precio</p>
         </div>
     </div>
  <div *ngFor="let data of agg" class="container shadow p-2 mb-2 list-color rounded" style="background: white;">
    <div class="row">
        <div class="col-6">
            <p #textContent id="read-more" class="text-1 mb-1 truncate">{{data?.servicio}}</p>      
            <div class="read-more-link">
                <a readMore [readMore-length]="4" [readMore-element]="textContent">
 

                    <span class="less">Less <i class="fas fa-angle-right" aria-hidden="true"></i></span>
                    <span class="more">More <i class="fas fa-angle-right" aria-hidden="true"></i></span>
                </a>
            </div>



        </div>
        <div class="col-3 p-0 m-0 barras-laterales"style="text-align: center;"> <p style="position: relative; top: 20px;">{{data?.equipo}}</p></div>
        <div class="col-3">
            <p style="position: relative; top: 15px; text-align: center; color: rgb(67, 146, 96);">{{rpta}} Cop</p>
        </div>
    </div>

  </div>


   
  <button type="button" class="btn btn-dark btn-1" (click)="openModal(data)"><i class="fas fa-plus"></i></button>
  
</body>
 
<app-navbar></app-navbar>