<div class="container">

        
    <div  class="col-md-8">
        <div class="form-group">
            <br>
            <h3>MONITOR</h3>
          </div>
          
          <div class="form-group">
              <label>Marca</label>
              <input type='text' class='form-control' id='mon_marca' maxlength="30" name='mon_marca' placeholder='Marca (*)'>
          </div>
          
          <div class="form-group">
              <label>Modelo</label>
              <input type='text' class='form-control' id='mon_modelo' maxlength="30" name='mon_modelo' placeholder='Modelo (*)'>
          </div>
          
          <div class="form-group">
              <label>Serial</label>
              <input type='text' class='form-control' id='mon_serial' maxlength="30" name='mon_serial' placeholder='Serial(*)'>
          </div>
          
          <div class="form-group">
              <label>Pulgadas</label>
              <input type='text' class='form-control' id='mon_pulgadas' maxlength="30" name='mon_pulgadas' placeholder='Pulgadas(*)'>
          </div>
          
          <div class='form-group'>
              <label for='mon_observacion'>Observaciones</label>
              <textarea class='form-control' rows='3' id="mon_observacion" name='mon_observacion' maxlength="100" placeholder="Observaciones realizadas"></textarea>
          </div>
    </div>

    <button class="btn btn-dark">Actualizar</button>
    <br>
    <br>
    <h3 class="text-center mb-4">Historial</h3>

    <div  class="container shadow p-2  mb-2 list-color rounded" style="background-color: rgb(214, 218, 218);" (click)="openModal()">
        <div class="row">
        <div class="col-8">
            <p class="mb-0" > <i class="fas text-muted fa-hashtag"></i> &nbsp; 12345
            </p>
            <p class="mb-0 mt-1 truncate text-1">
            <i class="fas text-muted fa-laptop"></i> &nbsp; Samsung | Tp-1234jpu </p>
        </div>
        <div class="col-4 text-right">
           
            <span class="text-muted text-date">12/12/12</span>
        </div>
        </div>
    </div> 
    <br>
    <br>
    <br>



</div>





<app-navbar></app-navbar>
