
<div class="container" style="background-color: rgb(245, 245, 245); height: 100vh;">
    <br>
    <h3 style="text-align: center;"><i class="fas fa-dolly-flatbed p-1"></i>Inventario</h3>
    <hr>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <button class="btn btn-outline-secondary" type="button" id="button-addon1">Buscar</button>
      </div>
      <input type="text" class="form-control" placeholder="" aria-label="Example text with button addon" aria-describedby="button-addon1">
    </div>
  
    <div  class="container shadow p-2 mb-2 list-color rounded" style="background: white;" (click)="openModal()">
      <div class="row">
  
        <div class="col-7 truncate ">
          <p><i class="fas text-muted fa-hashtag"></i>Memoria Ram ddr3 2GB Laptop</p>
          <p class="mb-0"><i class="fas text-muted fa-boxes pr-1"></i>Stock: 22</p>
        </div>
        <div class="col-5 truncate">
          <p class="mt-4 text-1"><i class="fas text-muted fa-tag mr-2"></i>25.000 Cop</p>
        </div>
      </div>
  
    </div>
  
  
  </div>


<app-navbar></app-navbar>
