
@import "~@ng-select/ng-select/themes/default.theme.css";
@import "~jsoneditor/dist/jsoneditor.min.css";
.truncate {
    white-space: nowrap;
    overflow: hidden;
    display: block !important;
    text-overflow: ellipsis;
}

.text-date{
    font-size: 0.7em;
}
.text-1{
    font-size: 0.9em;
}
.swal2-content{
    padding: 0 !important ; 
}
.text-dat{
    font-size: 0.8em;
}

.custom-card-style {
    background-color: white;
    padding: .5rem 1rem;
    font-weight: 600;
    font-size: .9rem;
    letter-spacing: .6px;
    border-left: solid 1px #e9ecef;
    border-right: solid 1px #e9ecef;
    box-shadow: 0px 0px 10px #e8e8e8b8;
    margin-top: 0 !important;
  }