		  <!-- Formulario Monitor -->
          <div  class="col-md-8">
            <div class="form-group">
                <br>
                <h3>MONITOR</h3>
              </div>
              <form  [formGroup]="form" (submit)="submit()">
              <div class="form-group">
                  <label>Marca</label>
                  <input type='text' class='form-control' formControlName="make" maxlength="30" name='mon_marca' placeholder='Marca (*)'>
              </div>
              
              <div class="form-group">
                  <label>Modelo</label>
                  <input type='text' class='form-control' formControlName="model" maxlength="30" name='mon_modelo' placeholder='Modelo (*)'>
              </div>
              
              <div class="form-group">
                  <label>Serial</label>
                  <input type='text' class='form-control' formControlName="serial" maxlength="30" name='mon_serial' placeholder='Serial(*)'>
              </div>
              
              <div class="form-group">
                  <label>Pulgadas</label>
                  <input type='text' class='form-control' formControlName="inch" maxlength="30" name='mon_pulgadas' placeholder='Pulgadas(*)'>
              </div>
              
              <div class='form-group'>
                  <label for='mon_observacion'>Observaciones</label>
                  <textarea class='form-control' rows='3' formControlName="description" name='mon_observacion' maxlength="100" placeholder="Observaciones realizadas"></textarea>
              </div>
              <div class="d-flex justify-content-between mt-3 pb-3">
                <button type="button" class="btn btn-secondary" (click)="close()">Close</button>
                <button type="submit" class="btn btn-primary" [disabled]="form.invalid" type="submit">Save changes</button>
            </div>
            </form>
        </div>