<div class="container">
    <div class="col-md-8">
        <div class="form-group">
            <br>
            <h3>ROUTER</h3>
          </div>
          
          <div class="form-group">
              <label>Marca</label>
              <input type='text' class='form-control' id='rou_marca' maxlength="30" name='rou_marca' placeholder='Marca (*)'>
          </div>
          
          <div class="form-group">
              <label>Modelo</label>
              <input type='text' class='form-control' id='rou_modelo' maxlength="30" name='rou_modelo' placeholder='Modelo (*)'>
          </div>
          
          <div class="form-group">
              <label>Serial</label>
              <input type='text' class='form-control' id='rou_serial' maxlength="30" name='rou_serial' placeholder='Serial(*)'>
          </div>
          
          
          <div class='custom-control custom-switch'>
            <input type='checkbox' class='custom-control-input off' id='check_cargador' name='check_cargador'>
            <input type="hidden" id="router_cargador" name="" value="no">
            <label class='custom-control-label' for="check_cargador" >Cargador</label>
          </div>
          
          <div class="form-group" id="cargadorForm">
              <div class="row">
                <div class="col-5">
                  <input type='text' class='form-control' id='rou_modelo_cargador' maxlength="30" name='rou_modelo_cargador' placeholder='Modelo (*)'>
                </div>
                <div class="col-7">
                  <input type='text' class='form-control' id='rou_serial_cargador' maxlength="30" name='rou_serial_cargador' placeholder='Serial (*)'>
                </div>
              </div>
          </div>
          
          
          <div class='form-group'>
              <label for='rou_observacion'>Observaciones</label>
              <textarea class='form-control' rows='3' id="rou_observacion" maxlength="100" name='rou_observacion' placeholder="Observaciones realizadas"></textarea>
          </div>


          <button class="btn btn-dark">Actualizar</button>
    <br>
    <br>
    <h3 class="text-center mb-4">Historial</h3>

    <div  class="container shadow p-2  mb-2 list-color rounded" style="background-color: rgb(214, 218, 218);" (click)="openModal()">
        <div class="row">
        <div class="col-8">
            <p class="mb-0" > <i class="fas text-muted fa-hashtag"></i> &nbsp; 12345
            </p>
            <p class="mb-0 mt-1 truncate text-1">
            <i class="fas text-muted fa-laptop"></i> &nbsp; Samsung | Tp-1234jpu </p>
        </div>
        <div class="col-4 text-right">
            <div [ngClass]="{
            'process': (data?.status==='process'), 
            'wait': (data?.status==='wait'),
            'deliver': (data?.status==='deliver'),
            'finalize': (data?.status==='finalize')
            }" >
            </div>
            <span class="text-muted text-date">12/12/12</span>
        </div>
        </div>
    </div>
    <br>
    <br>
    <br>
    </div>


</div>



<app-navbar></app-navbar>
